#head ul li {margin-bottom:-15px;}
#headcaption{padding-top:10px;padding-bottom:0px;}
/*
     FILE ARCHIVED ON 06:37:10 May 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:39:36 Feb 22, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 300.841
  exclusion.robots: 133.009
  exclusion.robots.policy: 133.0
  xauthn.identify: 69.44
  xauthn.chkprivs: 63.31
  RedisCDXSource: 2.325
  esindex: 0.008
  LoadShardBlock: 144.331 (3)
  PetaboxLoader3.datanode: 139.291 (4)
  CDXLines.iter: 18.059 (3)
  load_resource: 177.972
  PetaboxLoader3.resolve: 91.857
*/